<h2>
    Submitter
</h2>
<p>
    Email: <%= @submission[:email] %> <br/>
    Name: <%= @submission[:first_name] %> <%= @submission[:last_name] %><br/>
</p>

<h2>
    Message
</h2>

<p>
    Name: <%=  @submission[:message] %>
</p>

<p>
    Time: <%= Time.current.in_time_zone('America/New_York').strftime('%a %b %e %Y %I:%M %p') %>
</p>